@import "compass/css3";

.progress-sv {
  width: 100%;
  height: 50px;
}
.progress-wrap-sv {
  background: green;
  margin: 20px 0;
  overflow: hidden;
  position: relative;

}
.progress-bar-sv {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}
